	<div class="row popular">
		<div class="col-sm-4 ">

			<img src="./img/shoes.png">
			<a href="#"><h3>Football shoes</h3></a>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing,
			vivamus congue nulla leo, quis imperdiet magna. </p>

		</div>
		<div class="col-sm-4">
			<img src="./img/clothes.png">
			<a href="#"><h3>Clothes</h3></a>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing,
			vivamus congue nulla leo, quis imperdiet magna. </p>

		</div>
		<div class="col-sm-4">
			<img src="./img/bag.png">
			<a href="#"><h3>Bags</h3></a>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing,
			vivamus congue nulla leo, quis imperdiet magna. </p>

		</div>
		
	</div>
