<!-- FOOTER -->

<div class="row footer">
	
		<div class="col-sm-4 stories">
		<h3>Our Stories</h3>
		<div><span>Feel free to visit our stores or contact us.</span></div>
		<div><span>Vinegade 109 <br>5000 Odense<br> 99886622</span></div>
		<div><span>Vestergade 910<br>9000 Aalborg <br>96819191</span></div>
		
		<div class="social-media">
			<i class="	fa fa-facebook-official" aria-hidden="true"></i>
			<i class="	fa fa-twitter-square" aria-hidden="true"></i>
			<i class="	fa fa-google-plus-square" aria-hidden="true"></i>
			<i class="	fa fa-vimeo-square" aria-hidden="true"></i>
			

				
		</div>
		</div>
		<div class="col-sm-4 posts">
		<h3>Blog posts</h3>
		<div><span class="white">Lorem ipsum hey</span><br><span>Lorem ipsum dolor sit amet, consectetur
adipiscing elit. Donec sed auctor elit</span></div>
			<div><span class="white">New sexy sport clothes are here</span><br><span>orem ipsum dolor sit amet, consectetur
adipiscing elit. Donec sed auctor elit.</span></div>
	<div><span class="white">Summer sales are coming!</span><br><span>LLorem ipsum dolor sit amet, consectetur
adipiscing elit. Donec sed auctor elit.</span></div>
		
		</div>
		<div class="col-sm-4 support">
		<h3>Support</h3>
		<div class="first-column">
			<ul>
				<li>Terms & Conditions</li>
				<li>FAQ</li>
				<li>Payment</li>
				<li>Track Order</li>
				<li>Services</li>
				<li>Privacy & Security</li>
				<li>Careers</li>
				<li>Press</li>
				<li>
Corporate Information</li>


			</ul>
		</div>
		<div class="second-column">
			<ul>
				<li>Sizing</li>
				<li>Ordering</li>
				<li>Shipping</li>
				<li>Return Policy
</li>
				<li>Affiliates</li>
				<li>Find A Store</li>
				<li>Site Map</li>
				<li>Sign Up & Save

 </li>
				


			</ul>
		</div>
		<div></div>
		</div>
	
</div>
