//CsOwddsssssLsORS

$lettergray: #7e7f84;
$orange: #f45a40;
$lighgray: #ededed;
$white: #fff;
$semi-tp-black: rgba(black, 0.6);
$footer: #2a2d34;

//Bodysy

h1 {
    font-size: 60px;
    color: $white;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}