//CsOwddsssssLsORS

$lettergray: #7e7f84;
$orange: #f45a40;
$lighgray: #ededed;
$white: #fff;
$semi-tp-black: rgba(black, 0.6);
$footer: #2a2d34;

//Bodysy

h1 {
    font-size: 60px;
    color: $white;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

//HEADEer

$lettergray: #7e7f84;
$orange: #f45a40;
$lighgray: #ededed;
$white: #fff;

//
body {
    font-family: 'PT Sans', sans-serif;
}

hr {
    margin-top: 25px;
    margin-bottom: 5px;
}

ul {
    display: inline-block;
    width: 100%;
    padding-left: 0px;

    li {
        display: inline-block;
        margin-right: 6%;
    }
}

p {
    margin: 10px 0px;
}

.top-logo, .top-info, .telephone, .email, .checkout {
    display: inline-block;

    p {
        display: inline-block;
    }
}

.telephone, .email, .checkout {
    font-size: 14px;
}

.header {
    text-transform: uppercase;
    padding: 30px 120px 0 120px;
    background-color: $white;
    position: relative;

    .row {
        .top-data {
            letter-spacing: 1px;
            color: $lettergray;

            .col-sm-6 {
                padding-left: 0px;
                padding-right: 0px;
                width: 40%;
            }

            .top-info {
                width: 60%;
                text-align: right;
                padding-right: 0px;
                margin-top: -15px;

                div {
                    padding: 0px 12px;

                    img {
                        margin-right: 10px;
                        margin-bottom: 4px;
                    }

                    p {
                        margin: 0px;
                    }
                }

                .checkout {
                    background-color: $lighgray;

                    p {
                        padding: 15px;
                    }
                }
            }
        }

        .col-sm-12 {
            .navigation {
                font-size: 18px;
                padding: 0px;

                ul {
                    li {
                        a {
                            font-size: 14px;
                            text-decoration: none;
                            color: $lettergray;

                            &:hover {
                                color: $orange;
                            }
                        }
                    }
                }
            }

            .search {
                font-size: 18px;
                padding: 0px;

                ul {
                    li {
                        a {
                            img {
                                margin-bottom: 4px;
                                margin-right: 10px;
                            }
                        }
                    }
                }
            }
        }

        div {
            .search {
                text-transform: none;
                color: $lettergray;
            }
        }
    }
}

.thick-border {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 3px solid $orange;
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0;
    z-index: 2;
    position: relative;
}

.thin-border {
    border: 0;
    border-top: 1px solid $orange;
    -webkit-margin-before: 2px;
    -webkit-margin-after: 0;
    z-index: 2;
    position: relative;
}

@media screen and (max-width: 1000px) {
    .header {
        padding: 30px 60px 0 60px !important;
    }
}

//header
//SLIDER

.slider {
    padding: 0px;
    margin-top: -5px;

    .row {
        .col-sm-12 {
            .frontcover {
                height: 65vh;
                position: relative;
                width: 100%;
                overflow: hidden;
                min-height: 600px;
                background-size: cover !important;

                .row {
                    height: 100%;

                    .col-sm-12 {
                        height: 100%;
                        display: flex;
                        align-items: center;

                        .layout {
                            background: $semi-tp-black;
                            padding: 0px 0px 30px 120px;
                            display: flex;

                            .promo {
                                h1 {
                                    margin-bottom: 0px;
                                }

                                max-width: 480px;

                                p {
                                    font-size: 14px;
                                    color: $white;
                                    margin: 15px 0px;
                                }

                                a {
                                    button {
                                        background-color: $orange;
                                        color: $white;
                                        border: none;
                                        outline: 0;
                                        text-transform: uppercase;
                                        padding: 8px 30px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    .layout {
        padding: 0px 0px 30px 60px !important;
    }
}

//SLIDER

//CATEGORIES

.popular {
    padding: 70px 120px 0 120px;

    .col-sm-4 {
        img {
            width: 100%;
            min-width: 160px;
        }

        a {
            text-transform: uppercase;
            color: $orange;

            h2 {}
        }
    }
}

@media screen and (max-width: 1000px) {
    .popular {
        padding: 70px 60px 0 60px;
    }
}

//CATEGORIES

//popular

.popular-title {
    padding: 30px 0px;

    div {
        .strike {
            display: block;
            text-align: center;

            > h3 {
                position: relative;
                display: inline-block;
                color: $lettergray;
            }

            > h3:before, > h3:after {
                content: "";
                position: absolute;
                top: 50%;
                width: 129px;
                height: 1px;
                background: $lighgray;
            }

            > h3:before {
                right: 100%;
                margin-right: 15px;
            }

            > h3:after {
                left: 100%;
                margin-left: 15px;
            }
        }
    }
}

.popular-list {
    padding: 30px 120px 0 120px;

    .col-sm-3 {
        margin: 0px 20px 35px 15px;
        border: 1px solid $lighgray;
        min-width: 200px;
        width: 21%;
        padding-right: 0px;
        padding-left: 0px;

        .popular-img {
            padding: 10px 15px 0px 15px;

            .stars {
                .fa-star {
                    color: $orange;
                }
            }

            .thumbn {
                width: 100%;
                margin: 30px 0px;
            }
        }

        .popular-desc {
            padding: 5px 15px;
            border-top: 1px solid $lighgray;

            a {
                text-decoration: none;
                color: $lettergray;
                text-transform: uppercase;

                h4 {
                    margin-bottom: 5px;
                    margin-top: 5px;
                    font-weight: bold;
                }
            }

            h5 {
                font-size: 13px;
                text-transform: uppercase;
                margin-bottom: 5px;
                margin-top: 5px;
            }

            p {
                text-transform: none;
                margin-bottom: 5px;
                margin-top: 5px;
                line-height: 15px;
                border-bottom: 1px solid $lighgray;
                padding-bottom: 5px;
            }
        }

        .popular-price-and-icons {
            padding: 0px 15px;
            padding-bottom: 15px;

            .money-icon {
                display: inline-block;
            }

            .extra-icons {
                display: inline-block;
                float: right;

                .thumbn {
                    margin-bottom: 4px;
                }
            }
        }

        .popular-buy {
            padding: 0px 15px;
            text-align: center;
            background: $orange;
            padding: 10px 15px;

            a {
                color: $white;
                text-transform: uppercase;
                width: 100%;
            }
        }
    }
}

@media screen and (min-width: 768px) {
    .popular-list {
        .col-sm-3 {
            width: 21%;
        }
    }
}

@media screen and (min-width: 1500px) {
    .popular-list {
        .col-sm-3 {
            width: 22.93%;
        }
    }
}

@media screen and (max-width: 768px) {
    .popular-list {
        .col-sm-3 {
            width: 100%;
        }
    }
}

//POPULAR Products