h1 {
  font-size: 60px;
  color: #fff; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

body {
  font-family: 'PT Sans', sans-serif; }

hr {
  margin-top: 25px;
  margin-bottom: 5px; }

ul {
  display: inline-block;
  width: 100%;
  padding-left: 0px; }
  ul li {
    display: inline-block;
    margin-right: 6%; }

p {
  margin: 10px 0px; }

.top-logo, .top-info, .telephone, .email, .checkout {
  display: inline-block; }
  .top-logo p, .top-info p, .telephone p, .email p, .checkout p {
    display: inline-block; }

.telephone, .email, .checkout {
  font-size: 14px; }

.header {
  text-transform: uppercase;
  padding: 30px 120px 0 120px;
  background-color: #fff;
  position: relative; }
  .header .row .top-data {
    letter-spacing: 1px;
    color: #7e7f84; }
    .header .row .top-data .col-sm-6 {
      padding-left: 0px;
      padding-right: 0px;
      width: 40%; }
    .header .row .top-data .top-info {
      width: 60%;
      text-align: right;
      padding-right: 0px;
      margin-top: -15px; }
      .header .row .top-data .top-info div {
        padding: 0px 12px; }
        .header .row .top-data .top-info div img {
          margin-right: 10px;
          margin-bottom: 4px; }
        .header .row .top-data .top-info div p {
          margin: 0px; }
      .header .row .top-data .top-info .checkout {
        background-color: #ededed; }
        .header .row .top-data .top-info .checkout p {
          padding: 15px; }
  .header .row .col-sm-12 .navigation {
    font-size: 18px;
    padding: 0px; }
    .header .row .col-sm-12 .navigation ul li a {
      font-size: 14px;
      text-decoration: none;
      color: #7e7f84; }
      .header .row .col-sm-12 .navigation ul li a:hover {
        color: #f45a40; }
  .header .row .col-sm-12 .search {
    font-size: 18px;
    padding: 0px; }
    .header .row .col-sm-12 .search ul li a img {
      margin-bottom: 4px;
      margin-right: 10px; }
  .header .row div .search {
    text-transform: none;
    color: #7e7f84; }

.thick-border {
  margin-top: 0px;
  margin-bottom: 0px;
  border: 0;
  border-top: 3px solid #f45a40;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0;
  z-index: 2;
  position: relative; }

.thin-border {
  border: 0;
  border-top: 1px solid #f45a40;
  -webkit-margin-before: 2px;
  -webkit-margin-after: 0;
  z-index: 2;
  position: relative; }

@media screen and (max-width: 1000px) {
  .header {
    padding: 30px 60px 0 60px !important; } }
.slider {
  padding: 0px;
  margin-top: -5px; }
  .slider .row .col-sm-12 .frontcover {
    height: 65vh;
    position: relative;
    width: 100%;
    overflow: hidden;
    min-height: 600px;
    background-size: cover !important; }
    .slider .row .col-sm-12 .frontcover .row {
      height: 100%; }
      .slider .row .col-sm-12 .frontcover .row .col-sm-12 {
        height: 100%;
        display: flex;
        align-items: center; }
        .slider .row .col-sm-12 .frontcover .row .col-sm-12 .layout {
          background: rgba(0, 0, 0, 0.6);
          padding: 0px 0px 30px 120px;
          display: flex; }
          .slider .row .col-sm-12 .frontcover .row .col-sm-12 .layout .promo {
            max-width: 480px; }
            .slider .row .col-sm-12 .frontcover .row .col-sm-12 .layout .promo h1 {
              margin-bottom: 0px; }
            .slider .row .col-sm-12 .frontcover .row .col-sm-12 .layout .promo p {
              font-size: 14px;
              color: #fff;
              margin: 15px 0px; }
            .slider .row .col-sm-12 .frontcover .row .col-sm-12 .layout .promo a button {
              background-color: #f45a40;
              color: #fff;
              border: none;
              outline: 0;
              text-transform: uppercase;
              padding: 8px 30px; }

@media screen and (max-width: 1000px) {
  .layout {
    padding: 0px 0px 30px 60px !important; } }
.popular {
  padding: 70px 120px 0 120px; }
  .popular .col-sm-4 img {
    width: 100%;
    min-width: 160px; }
  .popular .col-sm-4 a {
    text-transform: uppercase;
    color: #f45a40; }

@media screen and (max-width: 1000px) {
  .popular {
    padding: 70px 60px 0 60px; } }

/*# sourceMappingURL=stylesheet.css.map */
