<div class="slider">
	<div class="row">
		<div class="col-sm-12">

			<div class="frontcover" style="background: url(./img/image.png) #282e32 center center no-repeat;">
	    	
	    		<div class="row">
	    			<div class="col-sm-12">
	    				<div class="layout">
	    				
		    				<div class="promo">
		    					<h1>Right is Pink. <br>Left is Blue.</h1>
		    					<p>Inspired by Brasil’s bold colors and matching up to football’s on-pitch playmakers, these kicks are ready to stand out.</p>
		    					<a href="#"><button>Shop Brasil</button></a>
		    				</div>
		    				
	    				</div>
	    			</div>

	    		</div>


	    	</div>
	</div>
</div>